@tailwind base;
@tailwind components;
@tailwind utilities;


body{background-color: #1D2228;}

.btn-primary {
    background-color: #F97315; /* Change to orange */
    border-color: #F97315;
    color: white; /* Adjust text color if needed */
    /* Any other styles */
}
.btn-primary:hover{
    background-color: #F97315;
    border-color: #F97315;
    opacity: 0.7;
}
.bg-primary{
    background-color: #F97315;
}
.border-sm{
    background-color: #F97315;
}